<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Login</title>
</head>
<body>
  {% block content %}
<div class="main-login">
    <div class="left-login">
      <h1>Online Token<br>genaration for bank</h1>
      <img src="static/2meters3_400px.webp" class="left-login-image" alt="Online Token genaration for bank">
    </div>
    <div class="right-login">
      <div class="card-login">
        <h1>LOGIN</h1>
        <form action="/userpagevalid" class="login-form" method="POST">
        <div class="textfield">
          <label for="emailid">Email-Id</label>
          <input type="email" name="email" placeholder="email123@gmail.com">
        </div>
        <div class="textfield">
          <label for="password">password</label>
          <input type="password" name="password" placeholder="password">
        </div>
        <button class="btn" type="submit">Login</button>
        </form>
        <button class="notregister">Not register?</button>
      </div>
      <div class="card-register">
        <h1>REGISTER</h1>
        <form action="/sucesspage" class="register-form" method="POST">
        <div class="textfield">
            <label for="name">Name</label>
            <input type="text" name="name" placeholder="Name">
          </div>
        <div class="textfield">
            <label for="emailid">Email-Id</label>
            <input type="email" name="email" placeholder="email123@gmail.com">
          </div>
        <div class="textfield">
          <label for="password">password</label>
          <input type="password" name="password" placeholder="password">
        </div>
        <button class="btn" type="submit">REGISTER</button>
        </form>
        <button class="alreadyregister">Already Have Account</button>

      </div>
    </div>
  </div>
  {% endblock %}
</body>
<script>
    const notRegisterBtn = document.querySelector('.notregister');
    const registerCard = document.querySelector('.card-register');
    const logincard=document.querySelector('.card-login')
    const alreadyregisterbtn=document.querySelector('.alreadyregister');
    
    notRegisterBtn.addEventListener('click', () => {
        logincard.style.display= 'none';
      registerCard.style.display = 'block';
    });

    alreadyregisterbtn.addEventListener('click',()=>
    {
        registerCard.style.display = 'none';
        logincard.style.display= 'block';
    });

  </script>
  
</html>