{% extends "index.html" %}
{% block content %}
    <header>
      <h1>Hello,{{data.get_name()}}</h1>
      <div class="history" onclick="showhistory()"><i class="fa fa-history" aria-hidden="true"></i>History</div>
      <div class="logout" onclick="logout()">
        Logout
      </div> 
      <div class="notify">
        <i class="fa fa-bell" aria-hidden="true"><div class="notify-indicator">.</div></i>
      </div>
    </header>
    <div class="historycontent">
      {% if data.checktokenforsuser() %}
      <span class="tokenid-history">TokenId:{{data.user_tokenid()}}</span>
      <span class="arrivaltime-history">Arrival-Time:{{data.user_arrivaltime()}}</span>
      <span class="waitingtime-history">Waiting-Time:{{data.user_waitingtime()}}</span>
      <h2 style="color: aliceblue;">You are requested to come 5-10min Earlier.</h2>
      {% else%}
      <h4 style="color: aliceblue;">No any token found.</h4>
      {% endif %}
    </div>
    
    {% block body%}
    <div class="container">
      <form action="/loadtoken" method="POST" class="bank-select">
        <label for="bank">Select Bank:</label>
        <select id="bank" name="bank">
          <option value="">Select Bank</option>
          <option value="bank1">ABC Bank</option>
        </select>
        <br>
        <label for="branch">Select Branch:</label>
        <select id="branch" name="branch" disabled>
          <option value="">Select Bank First</option>
        </select>
        <br>
        <input type="submit" value="Get Token">
      </form> 
    </div>
    {% endblock %} 
    <script> 
      function logout() {
        window.location.href='/';
      }
  const bankSelect = document.getElementById('bank');
  const branchSelect = document.getElementById('branch');

  bankSelect.addEventListener('change', (event) => {
    const bank = event.target.value;
    if (bank) {
      branchSelect.disabled = false;
      // update branch options based on selected bank
      switch (bank) {
        case 'bank1':
          updateBranchOptions(['Branch Chyasal']);
          break;
      }
    } else {
      branchSelect.disabled = true;
      branchSelect.innerHTML = '<option value="">Select Bank First</option>';
    }
  });

  function updateBranchOptions(branchOptions) {
    branchSelect.innerHTML = '';
    for (const branch of branchOptions) {
      const option = document.createElement('option');
      option.value = branch;
      option.text = branch;
      branchSelect.appendChild(option);
    }
  }
 // Get a reference to the element to be toggled
const historycontent= document.querySelector('.historycontent');
const historybutton=document.querySelector('.history');
historybutton.addEventListener('click', function() {
if (historycontent.style.display =='none')
{
  historycontent.style.display='flex';
}
else
{
  historycontent.style.display='none';
}
});




    </script>
{% endblock %}