{% extends "index.html" %}
{% block content %}
    <header>
      <h1>Hello,{{data.get_name()}}</h1>
      <div class="history" onclick="showhistory()"><i class="fa fa-history" aria-hidden="true"></i>History</div>
      <div class="logout" onclick="logout()">
        Logout
      </div> 
    </header>
    <div class="historycontent">
      {% if data.checktokenforsuser() %}
      <span class="tokenid-history">TokenId:{{data.user_tokenid()}}</span>
      <span class="arrivaltime-history">Arrival-Time:{{data.user_arrivaltime()}}</span>
      <span class="waitingtime-history">Waiting-Time:{{data.user_waitingtime()}}</span>
      <h2 style="color: aliceblue;">You are requested to come 5-10min Earlier.</h2>
      {% else%}
      <h4 style="color: aliceblue;">No any token found.</h4>
      {% endif %}
    </div>
    
    {% block body%}
    <div class="notify-absent">
     {%if data.check_absent()%}
     <script>
            var notifyAbsent = document.querySelector(".notify-absent");
              notifyAbsent.style.display = "flex";
              setTimeout(function() {
              notifyAbsent.style.display = "none";
          }, 10000);
     </script>
      Your token number {{data.get_absentdetail()}} has been cancelled
      {% else %}
      <script>
        var notifyAbsent = document.querySelector(".notify-absent");
        notifyAbsent.style.display = "none";
      </script>
      {{data.get_absentdetail()}}
      {% endif %}
    </div>
    <div class="container">
      <form action="/loadtoken" method="POST" class="bank-select">
        <label for="bank">Select Bank:</label>
        <select id="bank" name="bank">
          <option value="">Select Bank</option>
          <option value="bank1">ABC Bank</option>
        </select>
        <br>
        <label for="branch">Select Branch:</label>
        <select id="branch" name="branch" disabled>
          <option value="">Select Bank First</option>
        </select>
        <br>
        <input type="submit" value="Get Token">
      </form> 
    </div>
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
    <script> 
      function logout() {
        window.location.href='/';
      }
  const bankSelect = document.getElementById('bank');
  const branchSelect = document.getElementById('branch');

  bankSelect.addEventListener('change', (event) => {
    const bank = event.target.value;
    if (bank) {
      branchSelect.disabled = false;
      // update branch options based on selected bank
      switch (bank) {
        case 'bank1':
          updateBranchOptions(['Branch Chyasal']);
          break;
      }
    } else {
      branchSelect.disabled = true;
      branchSelect.innerHTML = '<option value="">Select Bank First</option>';
    }
  });

  function updateBranchOptions(branchOptions) {
    branchSelect.innerHTML = '';
    for (const branch of branchOptions) {
      const option = document.createElement('option');
      option.value = branch;
      option.text = branch;
      branchSelect.appendChild(option);
    }
  }
 // Get a reference to the element to be toggled
const historycontent= document.querySelector('.historycontent');
const historybutton=document.querySelector('.history');
historybutton.addEventListener('click', function() {
if (historycontent.style.display =='none')
{
  historycontent.style.display='flex';
}
else
{
  historycontent.style.display='none';
}
});

const notifycontent= document.querySelector('.notify-content');
const notifybutton=document.querySelector('.fa-bell');
notifybutton.addEventListener('click', function() {
if (notifycontent.style.display =='none')
{
  notifycontent.style.display='flex';
}
else
{
  notifycontent.style.display='none';
}
});
function updateData() {
            $.getJSON('/data_feed', function(data) {
                if (!data)
                {
                  notifycontent.textContent="Your token has been cancelled:"
                }
            });
        }
        setInterval(updateData, 1000);



    </script>
{% endblock %}