.heading
{
    background-color: aquamarine;
    border-radius: 5px;
}
.login
{
    width: 200px;
    height: 250px;
    border: 10px black solid;
}
.gettoken:hover
{
    background-color: bisque;
    color: chocolate;
}
.popup-tokenrequest
{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.popup-tokenrequest-content
{
    width: 350px;
    height: 350px;
    background-color: aliceblue;
    border:1.3px solid black;
    border-radius: 5%;


}
.button
{
    background:whitesmoke;
    padding: 10px 15px;
    color: rgb(31, 36, 34);
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 25px;
    text-decoration: none;
    transition: 0.4s;
    justify-content: center;
    align-items: center;
}
.button:hover
{
   background-color: burlywood;
}
.popup-login
{
    background:rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.popup-login-content
{
    height: 250px;
    width: 250px;
    background: whitesmoke;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    border: 2px solid black;

}
.button1
{
    background:whitesmoke;
    padding: 15px 19px;
    color: rgb(31, 36, 34);
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 25px;
    text-decoration: none;
    transition: 0.4s;
    justify-content: center;
    align-items: center;
}
.button1:hover
{
    color: aqua;
}
input
{
    margin: 20px auto;
    display: block;
    width: 50%;
    padding: 10px;
    border: 1px solid gray;
}
h2
{
color: blueviolet;

}
.go-back
{
    position: relative;
    width: 75px;
    height: 50px;
    border: 2px solid black;
    border-radius: 15%;
    left: -550px;
    cursor: pointer;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path d='M217.9 256L345 129c9.4-9.4 9.4-24.6 0-33.9-9.4-9.4-24.6-9.3-34 0L167 239c-9.1 9.1-9.3 23.7-.7 33.1L310.9 417c4.7 4.7 10.9 7 17 7s12.3-2.3 17-7c9.4-9.4 9.4-24.6 0-33.9L217.9 256z'/></svg>");
    background-repeat: no-repeat;
    background-position: left;
      

}

.go-back:hover
{
    background-color: blanchedalmond;

}
.close
{
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: rgb(217, 8, 36);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    justify-content: center;
    align-content: center;
    text-align: center;

}
#close
{
    display: none;
}
.popup-register
{
    background:rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.popup-register-content
{
    height: 500px;
    width: 250px;
    background: whitesmoke;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    border: 2px solid black;

}
.forgotpassword
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration-line: underline;
    text-decoration-color: skyblue;
    cursor: pointer;
}
.forgotpassword:hover
{
    color: skyblue;
}
.popup-forgotpassword
{
    background:rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.popup-forgotpassword-content
{
    height: 250px;
    width: 250px;
    background: whitesmoke;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    border: 2px solid black;

}
.menu-button
{
    height: 25px;
    width: 25px;
    color: antiquewhite; 
    background-color: black;
    size: 25px;


}
.menu-popup
{
    
    background-color: aqua;
}
.li{
    background: #4360b5;
    color: #fff;
    position: absolute;
}
.container
{
    background-color: blanchedalmond;
    height: auto;
    width: auto;

}
.icon:hover
{
    background-color: bisque;
}
.notification
{
    width: 50px;
    height: 50px;
    margin-left: 400px;
    margin-top: -80px;
}
.notification-content
{
    width: 200px;
    height: 350px;
     background-color: #4360b5;
     margin-left: 1210px;
     margin-top: -490px;
     display: none;
     border-radius: 8%;
}
.msg-indication
{
    margin-top: -120px;
    margin-left: 22px;
    color:darkgray;
}
li{
    display: inline-table;
    padding: 10px;
}


.bankbranches-content{
    size: 25px;
}
.history-of-token
{
    background:rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 500px;
    position: absolute;
    top: 10;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.pop-up-bankbranches
{
    background:rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.token-form-popup
{
    background:rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;  
    display: none;
}
.taketoken-content
{
    height: 250px;
    width: 250px;
    background: rgb(117, 91, 112);
    padding: 20px;
    border-radius: 5px;
    position: relative;
    border: 2px solid black;
    margin-left: 20px;
}
.tokenmsg
{
 width: 100%;
 height: 850px;
 background-color: rgba(0, 0, 0, 0.3);
 margin-top: -600px;
 display: none;
}
.tokenpop-up
{
    height: 250px;
    width: 250px;
    background: whitesmoke;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    border: 2px solid black;
    left: 40%;
    top: 20%;
}
.bank
{
    width: fit-content;
    height: fit-content;
    background-color: rgba(0.1,0.5,0.5,5);
}
.bankbranches-content
{
    height: 250px;
    width: 250px;
    background: rgb(223, 153, 113);
    padding: 20px;
    border-radius: 5px;
    position: relative;
    border: 2px solid black;
}
.bell
{
    width:50px;
    height: 50px;
}
.token-history-content
{
    height: 250px;
    width: 250px;
    background: whitesmoke;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    border: 2px solid black;
}
.token
{
    width: fit-content;
    height: fit-content;
    background-color: azure;
    border: 1.65px solid black;
    cursor: pointer;
    border-radius: 5px;
}
.show-history
{
    margin-top: 15px;
}
.show-history-button
{
    cursor: pointer;
    width: 180px;
    height: 20px;
    background:#4360b5;
    padding: 10px 15px;
    color: rgb(31, 36, 34);
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.4s;
    border:1.5px solid black;
}
.container
{
    margin-top: 25px;
    margin-right: 25px;
    width: 100%;
    height: 450px;
    border: 1.8px solid brown;
}
.top-menu
{
    margin-top: 10px;
    width:180px;
    height: max-content;
    background-color: cadetblue;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 1.5px solid black;
    padding-left: 5%;
}
.bank
{
    width: 100px;
    height: 100px;
    background-color: deeppink;
    margin-top: 25px;
    cursor: pointer;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.4s;
    
}
.bank:hover
{
    background-color: rgb(37, 20, 3);
    color: cornsilk;
    text-align: center;
}
.bankavailable-menu
{
    width: 25%;
    height: auto;
    background-color: azure;
    border: 1.8px solid black;
    border-radius: 5%;
}
.branch
{
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    background-color: #4360b5;
    size: 25px;
    border: 1.7px solid black;
}
.branch:hover
{
    background-color: rgb(37, 20, 3);
    color: cornsilk;
    text-align: center;
}